{% extends "base.html" %}
{% load static %}

{% block title %}Каталог книг{% endblock %}

{% block content %}
    <div class="container">
        <div class="header">
            <h1><a href="{% url 'books' %}">Каталог</a></h1>
        </div>
        <div class="row">
            {% for book in books %}
                <div class="book col-md-4">
                    <h2>{{ book.name }}</h2>
                    <p>Автор: {{ book.author }}</p>
                    <p>Дата публикации: {{ book.pub_date|date:"Y-m-d" }}</p>
                </div>
            {% empty %}
                <p>Книг не найдено.</p>
            {% endfor %}
        </div>

        <hr>
        <div class="navigation">
            {% if prev_date %}
                <a href="{% url 'books_view' prev_date %}" class="btn btn-primary">
                    &lt;-- {{ prev_date|date:"Y-m-d" }}
                </a>
            {% endif %}
            {% if next_date %}
                <a href="{% url 'books_view' next_date %}" class="btn btn-primary">
                    {{ next_date|date:"Y-m-d" }} --&gt;
                </a>
            {% endif %}
        </div>
    </div>
{% endblock %}